
# BEGIN BackUpWordPress
# The directives (lines) between `BEGIN BackUpWordPress` and `END BackUpWordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e51a87293624a0ccfd48dfb011a1fc5f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress